*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
<<<<<<< HEAD

}
.color_block{

    background: linear-gradient(90deg, #80d8ff 50%, rgba(234,128,252,1) 50%);
}
.col1{
    background-color: #82b1ff;
}
.col2{
    background-color: #b388ff;
}
.color_block .container{
    display: flex;
}
.color_block .container .col_min_block{
    width: 25%;
    display: flex;
    align-items: center;
}
.elipse {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 23px 45px 37px;
}
.color-text {
    color: #ffffff;
    font-size: 20pt;
}
.block_service .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.head-service {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    width: 500px;
}
.head-service h3 {
    font-size: 45pt;
    margin-bottom: 30px;
}
.head-service p {
    color: #c5cfd4;
    font-size: 15pt;
}
.text-service {
    width: 800px;
    margin: 0 auto;
}
.head-title {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 1px;
    margin-bottom: 20px;
}
.statistic-img .text{
    font-size: 15pt;
}
.statistic-img img {
    width: 17px;
    height: 11px;
    margin-top: 10px;
}
.head-statistic {
    margin:25px;
    display: flex;
    justify-content: space-between;
}
.head-statistic .statistic-img {
    display: flex;
}
.head-statistic .statistic-img .text{
    padding-left: 25px;
}
.text-statistic {
    display: flex;
    margin: 25px;
}

.text-statistic  .img-st img {
    width: 250px;
    height: 155px;
}
.text-statistic  .img-txt {
    margin-left: 25px;
}
.text-statistic  .img-txt p:nth-child(1) {
    padding-bottom: 40px;
}.block_service .tile {
     border-radius: 5px;
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.13);
     margin-bottom:20px;
     padding:0 25px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.badge {
    display: flex;
    align-items: center;
}

.badge .badge-text {
    line-height: 50px;
    margin-left: 28px;
    font-size: 15px;
    color: rgb(6, 30, 55);
    font-weight: bold;
    text-transform: uppercase;
}
.block_comment {
    background-image: url("../img/Rectangle 1 copy 3.png");
    height: 565px;
    background-repeat: no-repeat;
    margin-top: 80px;

}
.block_comment .back {
    background-image:linear-gradient( 143deg, rgb(0,184,212) 0%, rgb(29,233,182) 100%);
    opacity: 0.949;

}
.block_comment .back .container {
    display:flex;
}
.left-sec {
    width: 680px;
    padding-top: 135px;

}
.left-sec h3 {
    color: #ffffff;
    font-size: 45px;
    font-weight: normal;
    width: 450px;

}
.left-sec p {
    font-size: 15px;
    color: #ffffff;
    padding-top: 20px;
    width: 550px;

}
.btn-left-sec{
    background-color: #061e37;
    width: 150px;
    border-radius: 5px;
    margin-top: 70px;
}
.left-sec a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 55px;
    color: #ffffff;
    padding-left:25px
}
.right-comment .arrow-top{
    margin-left: 425px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.right-comment{
    max-width: 760px;
}
.right-comment .top,.bottom {
    display: flex;
}
.right-comment .top img {
    width: 60px;
    height: 60px;
    margin-top:50px;
}
.right-comment .bottom img {
    width: 60px;
    height: 60px;
    margin-top:50px;
}

.top {
    margin-bottom: 70px;
}
.right-text {
    height:160px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    width: 650px;
    margin-left: 40px;
    padding: 33px 50px 33px 30px;
}
.right-text h3 {
    padding-bottom: 15px;
    font-size: 18px;

}
.right-text p {
    font-size: 15px;
    color: #a7b5bd;
    font-style: italic;
}

.right-comment .arrow-bottom{
    margin-left: 425px;
    margin-top: 40px;
    margin-bottom: 20px;

}




    min-height: calc(100vh - 100px);
}
.our_teams_block{
    background-color: #ffffffc4;
    width: 100%;
    height: 770px;
}
.our_teams_block h2{
    text-align: center;
    font-weight: lighter;
    font-size: 36pt;
    margin-top: 70px;
    margin-bottom: 20px;
}
.our_teams_block h3{
    text-align: center;
    font-size: 16pt;
    margin-top: 70px;
}
.our_teams_block p{
    text-align: center;
    font-size: 14pt;
    color: #d1d9dd;
    margin-top: 20px;
}
.our_teams_block .images{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.our_teams_block .images img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 15px solid white;
    margin: 0px 15px;
    box-shadow: 0px 0px 5px 5px #f7f7f7;
}
#opacity_img{
    border: 0;
    width: 120px;
    height: 120px;
    margin-top: 30px;
    opacity: 0.35;
    box-shadow: none;
}
.our_teams_block .icons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.our_teams_block .icons img{
    width: 20px;
    height: 20px;
    margin: 0 15px;
}
#facebook{
    width: 15px;
    height: 20px;
}

.contacts{
    width: 100%;
    height: 700px;
    background-color: #fafafa;
}
.contacts h2{
    text-align: center;
    font-weight: lighter;
    font-size: 36pt;
    padding-top: 70px;
    margin-bottom: 20px;
}
.contacts p{
    color: #434d5c;
    text-align: center;
}
.contacts .form{
    width: 700px;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contacts .form input{
    width: 280px;
    height: 50px;
    margin: 20px 10px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid black;
}
#mess{
    width: 600px;
    height: 150px;
}
.contacts .button{
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

}
.contacts .button button{
    background-color: #10f0b8;
    color: white;
    font-size: 14pt;
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
}
.contacts .button p{
    position: absolute;
    left: -40px;
    margin-top: 15px;
}
.contacts .button input{
    position: absolute;
    left: -70px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
footer{
    background-color: #061e37;
    color: white;
    width: 100%;
    height: 300px;
    display: table;
}
footer .left_side{
    display: table-cell;
    width: 50%;
    padding-left: 80px;
}
footer .left_side .logo{
    margin-top: 90px;
    font-size: 18pt;
}
footer .left_side ul{
    display: inline-flex;
    font-size: 14pt;
}
#lighter{
    font-weight: lighter;
}
footer .left_side ul li{
    margin: 70px 20px;
    color: #59616e;
}
footer .right_side{
    display: table-cell;
    width: 50%;
}
footer .right_side ul{
    display: inline-flex;
    margin-top: 90px;
    font-size: 14pt;
    list-style-type: none;
}
footer .right_side ul li{
    margin: 0px 30px;
}
footer .right_side .icons{
    display: flex;
    justify-content: flex-end;
    padding: 80px 270px;
}
footer .right_side .icons img{
    margin: 0px 15px;
    opacity: 0.5;
}
>>>>>>> master
>>>>>>> 3e5cded7af52a18f998344b322034f3f916810dd
