*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: Arial, SansSerif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}
.head-block{
	width: 100%;
    height: 750px;
	background: url(../img/fon.png) no-repeat center;
	background-size: cover;
	position: relative;
}

.wrapper{
	position: absolute;
	background-image: -moz-linear-gradient( 143deg, rgb(0,184,212) 0%, rgb(29,233,182) 100%);
    background-image: -webkit-linear-gradient( 143deg, rgb(0,184,212) 0%, rgb(29,233,182) 100%);
    background-image: -ms-linear-gradient( 143deg, rgb(0,184,212) 0%, rgb(29,233,182) 100%);
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.main{
	z-index: 5;
	display: flex;
	justify-content: space-between;
}
.header{
	margin-top: 45px;
	display: flex;
	width: 1440px;
	position: relative;
	z-index: 5;
	justify-content: space-between;
	align-items: center;
	line-height: 60px;
	margin-right: 80px;
	margin-left: 80px;
}
.logo{
	display: flex;
	align-items: center;
}
.menu ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}
.menu-link{
	text-decoration: none;
	color: #fff;
	padding: 0 20px;
	margin-right: 10px;
}
.menu-link.active{
	color: #000;
}
.sign{
	margin-left: 250px;
	border: 1px solid #fff;
	padding: 10px 30px;
	border-radius: 3px;
}
span{
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  z-index: 9;
  margin: 0 10px;
}
.columns{
	display: flex;
	justify-content: space-between;
	margin-top: 140px;
	margin-right: 80px;
	margin-left: 80px;
	z-index: 5;
}
.column-1{
    z-index: 14;
    flex-basis: 600px;
    margin-top: 20px;
}
.column-2{
    z-index: 14;
    flex-basis: 600px;
    margin-top: 20px;
}
.head-h1{
	font-size: 55px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.182;
    text-align: left;
}
.head-p{
	font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.944;
    text-align: left;
    width: 580px;
    height: 88px;
    margin-top: 10px;
}
.btn-1{
    border-radius: 5px;
    background-color: rgb(6, 30, 55);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    width: 150px;
    height: 55px;
    z-index: 18;
    margin-top: 70px;
    color: #7a8794;
    font-weight: bold;
}
.btn-2{
	border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    width: 160px;
    height: 55px;
    z-index: 22;
    margin-top: 70px;
    margin-left: 20px;
    font-weight: bold;
    color: #061e37;
}
.video{
    z-index: 29;
    background: url(../img/fon-video.png) no-repeat center;
	background-size: cover;
}
.play{
	background: url(../img/play.png) no-repeat center;
	background-size: cover;
    background-color: rgb(6, 30, 55);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
    z-index: 33; 
    align-self: center;
    margin-left: 265px;
    margin-top: 120px;
    border-radius: 10px;
}
.p-watch{
    font-size: 12px;
    color: rgb(6, 30, 55);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    z-index: 37;
    margin-top: 20px;
}
.overlay{
	border: 1px solid rgb(6, 30, 55);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.902;
    width: 600px;
    height: 320px;
    z-index: 28;
}
.seck_block2 h1{
	margin-top: 100px;
    font-size: 45px;
    color: rgb(6, 30, 55);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    z-index: 55;
}
.seck_block2 h4{
	margin-top: 25px;
    font-size: 25px;
    color: rgb(176, 190, 197);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    z-index: 58;
}
.seck_block2 p{
	text-align: center;
	margin-top: 15px;
    font-size: 15px;
    color: rgb(176, 190, 197);
    line-height: 1.667;
    z-index: 59;
}
.tool{
	display: flex;
	margin-right: 80px;
	margin-left: 80px;
	justify-content: space-around;
	margin-top: 90px;
}
.title{
    width: 400px;
}
.title h6{
    font-size: 20px;
    color: rgb(6, 30, 55);
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    z-index: 63;
}
.title p{
    font-size: 15px;
    color: rgb(120, 144, 156);
    line-height: 1.333;
    text-align: center;
    z-index: 69;
    margin-top: 15px;
}
.btn-3{
	font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    border-radius: 5px;
    background-color: rgb(29, 233, 182);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    width: 150px;
    height: 55px;
    z-index: 77;
    margin-left: calc(50% - 70px);
    margin-top: 75px;
}
.icon{
	text-align: center;
	margin-bottom: 30px;
=======
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
}
.our_teams_block{
    background-color: #ffffffc4;
    width: 100%;
    height: 770px;
}
.our_teams_block h2{
    text-align: center;
    font-weight: lighter;
    font-size: 36pt;
    margin-top: 70px;
    margin-bottom: 20px;
}
.our_teams_block h3{
    text-align: center;
    font-size: 16pt;
    margin-top: 70px;
}
.our_teams_block p{
    text-align: center;
    font-size: 14pt;
    color: #d1d9dd;
    margin-top: 20px;
}
.our_teams_block .images{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.our_teams_block .images img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 15px solid white;
    margin: 0px 15px;
    box-shadow: 0px 0px 5px 5px #f7f7f7;
}
#opacity_img{
    border: 0;
    width: 120px;
    height: 120px;
    margin-top: 30px;
    opacity: 0.35;
    box-shadow: none;
}
.our_teams_block .icons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.our_teams_block .icons img{
    width: 20px;
    height: 20px;
    margin: 0 15px;
}
#facebook{
    width: 15px;
    height: 20px;
}

.contacts{
    width: 100%;
    height: 700px;
    background-color: #fafafa;
}
.contacts h2{
    text-align: center;
    font-weight: lighter;
    font-size: 36pt;
    padding-top: 70px;
    margin-bottom: 20px;
}
.contacts p{
    color: #434d5c;
    text-align: center;
}
.contacts .form{
    width: 700px;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contacts .form input{
    width: 280px;
    height: 50px;
    margin: 20px 10px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid black;
}
#mess{
    width: 600px;
    height: 150px;
}
.contacts .button{
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;

}
.contacts .button button{
    background-color: #10f0b8;
    color: white;
    font-size: 14pt;
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
}
.contacts .button p{
    position: absolute;
    left: -40px;
    margin-top: 15px;
}
.contacts .button input{
    position: absolute;
    left: -70px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
footer{
    background-color: #061e37;
    color: white;
    width: 100%;
    height: 300px;
    display: table;
}
footer .left_side{
    display: table-cell;
    width: 50%;
    padding-left: 80px;
}
footer .left_side .logo{
    margin-top: 90px;
    font-size: 18pt;
}
footer .left_side ul{
    display: inline-flex;
    font-size: 14pt;
}
#lighter{
    font-weight: lighter;
}
footer .left_side ul li{
    margin: 70px 20px;
    color: #59616e;
}
footer .right_side{
    display: table-cell;
    width: 50%;
}
footer .right_side ul{
    display: inline-flex;
    margin-top: 90px;
    font-size: 14pt;
    list-style-type: none;
}
footer .right_side ul li{
    margin: 0px 30px;
}
footer .right_side .icons{
    display: flex;
    justify-content: flex-end;
    padding: 80px 270px;
}
footer .right_side .icons img{
    margin: 0px 15px;
    opacity: 0.5;
>>>>>>> 3a8b46717f45aee196ea4af57b7e6f0ebf05be36
}